@model dynamic

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

<div>
	<p>@Html.ActionLink("Add New Posting", "AddNewPosting", "Main")</p>
	<p>@Html.ActionLink("Search for Postings", "Index", "Match")</p>
	@Html.Action("_GetAllActiveTripsPartial")
</div>