body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #ced2d5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.enjoy p{
text-align: center;
color: #000;
font-size: 26px;  
font-family: 'Shift', sans-serif;
font-weight: bold;
}

.jumbotron img{
width: 100%;
height: auto;
background-repeat: no-repeat;
background-size: cover;
}

.row .col-md-4{
text-align: justify;
color: #000;
font-size: 14px;  
font-family: 'Shift', sans-serif;
}
