@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <p class="text-justify" style="font-size: 18px;line-height: 25px;"><b><i>Seek a ride</i></b> project allows a group of people to share a ride by paying less amount of money if their destination and time of travel matches. Since the driver and rider need to go to the same place, the rider will only need to pay a small amount of money, usually much cheaper than regular taxi or even Uber. Carpooling can solve the problems related to traffic congestion, pollution etc.</p>
</div>

