@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    800 Campbell Road<br />
    Richardson, TX 78051<br />
    <abbr title="Phone">P:</abbr>
    469.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@utdallas.edu">Support@utdallas.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@utdallas.edu">Marketing@utdallas.edu</a>
</address>
