
@{
    ViewBag.Title = "emptyResult";
}



<h2>There are no results found in our database</h2>
<br />
<b>From:</b> @{
    @ViewBag.from
}
<br /><br />
<b>To:</b>
@{
    @ViewBag.to
}
<br /><br />
<b>Departure time:</b>@{
    @ViewBag.time
}
<br /><br />

