
@{
    ViewBag.Title = "Index";
}

<h2>Search a trip</h2>
<div class="col-md-12">

    <form action="~/match/check" method="post">
        <div class="form-group">
            <div class="col-md-8">
                <input type="radio" name="typeText" value="1" checked> Look for drivers<br>
                <input type="radio" name="typeText" value="0"> Look for riders<br>
                <hr />

                <div class="col-md-3">
                    Select Your DateTime
                </div><input type="datetime" name="time" /><br /><br />
                <div class="col-md-3">
                    Select Your fromStreet
                </div><input type="text" name="fromStreet" /><br /><br />
                <div class="col-md-3">
                    Select Your fromCity
                </div><input type="text" name="fromCity" /><br /><br />
                <div class="col-md-3">
                    Select Your fromState
                </div><input type="text" name="fromState" /><br /><br />
                <div class="col-md-3">
                    Select Your fromZipcode
                </div><input type="text" name="fromZip" /><br /><br />
                <hr />
                <div class="col-md-3">
                    Select Your toStreet
                </div><input type="text" name="toStreet" /><br /><br />
                <div class="col-md-3">
                    Select Your toCity
                </div><input type="text" name="toCity" /><br /><br />
                <div class="col-md-3">
                    Select Your toState
                </div><input type="text" name="toState" /><br /><br />
                <div class="col-md-3">
                    Select Your toZipcode
                </div><input type="text" name="toZip" /><br /><br />
                <div class="col-md-2"> </div><input type="submit" value='Check Trip Info' class="btn btn-default"/>
                <br />
                <br />

            </div>
        </div>
    </form>
    </div>

